.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/
logs/
*.log
static/downloaded_photos/
static/results/
static/converted_images/
static/tmp_pdf/
chromedriver.exe
chromedriver_drivearabia.exe
chromedriver_opensooq.exe
*.mp4
*.zip
